* {
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
}

.main-footer ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

li {
  margin-top: 15px;
}
.main-footer a {
  color: #b3b3b3;
}

.main-footer input {
  background-color: transparent;
}
.footer-logo img {
  width: 120px;
  border-radius: 100%;
}

.main-footer h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}
.main-footer p {
  font-size: 16px;
  color: rgb(155, 155, 155);
}
.all-content {
  background: linear-gradient(rgba(0, 0, 0, 0.339), rgba(0, 0, 0, 0.5)),
    url("./black paper texture.webp") center/cover no-repeat;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #b3b3b3;
  padding: 50px 50px 50px 50px;
}

.main-footer .col {
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-basis: 17%;
}

#folow-us-text {
  margin: 20px 0px 12px 0px;
}
.footer-social-icons {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 120px;
  margin-top: 50px;
}

.footer-social-icons div:hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

form {
  border: none;
  outline: none;
  border-bottom: 1px solid #b3b3b3;
  width: 80%;
  margin-top: 20px;
}

#footer-description {
  margin-top: 20px;
}
form .fa-arrow-right {
  background-color: transparent;
  margin-left: 10px;
  font-size: 18px;
}

form input {
  color: white;
  border: none;
  outline: none;
  margin-top: 20px;
}

form button {
  background-color: transparent;
  border: none;
  outline: none;
}

form .fa-arrow-right {
  color: white;
}
form .fa-envelope {
  color: white;
  margin-right: 10px;
  font-size: 18px;
}

form input:active,
:focus:hover {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(192, 192, 192);
}
form input:-webkit-autofill {
  background-color: transparent !important;
}

form input:-moz-autofill {
  background-color: transparent !important;
}

form input:autofill {
  background-color: transparent !important;
}

hr {
  background-color: rgb(62, 62, 62) !important;
  border: none;
  outline: none;
  height: 1px;
}

.copyright-section {
  width: 100%;
  color: rgb(155, 155, 155);
  text-align: center;
}
.copyright {
  padding: 40px 0px 40px 0px;
}

.col .fa-solid {
  padding-right: 15px;
  font-size: 18px;
}
.col:nth-child(5) {
  text-align: start;
}

@media (max-width: 768px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items */
    gap: 30px; /* Space between items */
    text-align: center;
    padding: 20px 15px;
  }
  form {
    width: 100%;
  }
  .footer-social-icons {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .col:nth-child(5) {
    text-align: center;
  }
}
