* {
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins;
}

.main-footer ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

li {
  margin-top: 15px;
}
.main-footer a {
  color: rgb(217, 217, 217);
}

.main-footer input {
  background-color: transparent;
  border-bottom: 1px solid white;
}
.footer-logo img {
  width: 120px;
  border-radius: 100%;
}

.main-footer h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-footer p {
  font-size: 14px;
}

.main-footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: rgb(22, 1, 31);
  color: white;
  padding: 120px 120px 120px 120px;
}

.main-footer .col {
  width: 285px;
  display: flex;
  flex-direction: column;
}

#folow-us-text {
  margin: 20px 0px 12px 0px;
}
.footer-social-icons {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 120px;
}
